.hero {
    -fx-background-image: url("beachflowers.jpeg");
    -fx-background-size: cover; /* LC: fills area and gets rid of white bars */
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat